
@{ Layout = "~/Views/Shared/_LayoutMasterPage.cshtml"; }

<div id="content-container">
    <div id="page-head">
    </div>
    <div id="page-content">
        <div class="panel">
            <div class="panel-body">
                <div class="fixed-fluid">
                    <div class="fixed-sm-200 pull-sm-left fixed-right-border">
                        <div class="pad-btm bord-btm">
                            <a href="~/MailCompose/MailCompose" class="btn btn-block btn-success">Compose Mail</a>
                        </div>
                        <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">Folders</p>
                        <div class="list-group bg-trans pad-btm bord-btm">
                            <a href="~/MBInbox/MBInbox" class="list-group-item">
                                <i class="demo-pli-mail-unread icon-lg icon-fw"></i> Inbox (@ViewBag.readCount)
                            </a>
                            <a href="~/MBSend/MBSend" class="list-group-item">
                                <i class="demo-pli-mail-send icon-lg icon-fw"></i> Send
                            </a>
                        </div>
                    </div>
                    <div class="fluid" id="container-animation">
                    @foreach (var mailInfo in ViewBag.MailInfoList)
                    {
                        <div class="mar-btm pad-btm bord-btm">
                            <h1 class="page-header text-overflow">
                                <text>
                                    @mailInfo.Title
                                </text>
                                <input type="text" hidden="hidden" id="firstID" value="@mailInfo.MailId" />
                            </h1>
                        </div>

                        <div class="row">
                            <div class="col-sm-7 toolbar-left">
                                <!--Sender Information-->
                                <div class="media">
                                    <span class="media-left">
                                        <img src="~/Content/img/profile-photos/8.png" class="img-circle img-sm" alt="Profile Picture">
                                    </span>
                                    <div class="media-body text-left">
                                        @foreach (var mailUser in mailInfo.MailDetailsInfo)
                                        {
                        <div class="text-bold">@mailUser.UserTakerInfo.Name @mailUser.UserTakerInfo.Surname</div>
                                            <small class="text-muted">@mailUser.UserTakerInfo.Email</small>
                                                                <br />}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 toolbar-right">
                                <p class="mar-no"><small class="text-muted">@mailInfo.Date</small></p>
                            </div>
                        </div>
                        <div class="row pad-top">
                            <div class="col-sm-7 toolbar-left">
                                <button class="btn btn-default"><i class="demo-pli-printer icon-lg"></i></button>
                                <div class="btn-group btn-group">
                                    <button class="btn btn-default"><i class="demo-pli-information icon-lg"></i></button>
                                    <a href="#" class="btn btn-default" id="btnMessageRemove">Remove</a>
                                </div>
                            </div>
                            <div class="col-sm-5 toolbar-right">
                                <div class="btn-group btn-group">
                                    <a class="btn btn-default" href="#" id="btnSendMessageRespond" title="Yanıtla">
                                        <i class="demo-psi-left-4"></i>
                                    </a>
                                    <a class="btn btn-default" href="#" id="btnSendMessageDirect" title="Yönlendir">
                                        <i class="demo-psi-right-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        @Html.Raw(mailInfo.Message)
                        <hr />
                        <div id="SendLoaderDirectOrRespondCustomize">
                            
                            <div class="load7" id="loaderSend">
                                <div class="loader"></div>
                            </div>
                            
                            <div id="SendMessageDirectOrRespondVisibility" class="hide">
                                <select id="demo-cs-multiselect" data-placeholder="Choose a User ..." multiple tabindex="4" name="Taker[]">
                                    @foreach (var mailUser_Chosen in mailInfo.MailDetailsInfo)
                                    {
                        <option selected="selected" value="@mailUser_Chosen.UserTakerInfo.UserId">
                            @mailUser_Chosen.UserTakerInfo.Name @mailUser_Chosen.UserTakerInfo.Surname
                        </option>}
                                    @foreach (var users in ViewBag.userInformationList)
                                    {
                        <option value="@users.UserId">
                            @users.Name @users.Surname
                        </option>}
                                </select>
                                <br />
                                <br />
                                <label class="col-lg-1 control-label text-left" for="inputSubject">Subject</label>
                                <input type="text" id="inputSubject" name="inboxTitle" class="form-control" value="@mailInfo.Title">
                                <br />
                                <br />
                                <div class="summernote" id="summernoteMailSendMessage" name="inboxMessage">
                                    <br />
                                    <br />
                                    <hr />
                                    Kimden:@ViewBag.userName_SurName<br />
                                    Konu: @mailInfo.Title<br />
                                    Kime:@foreach (var mailUserTaker in mailInfo.MailDetailsInfo)
                                    {
                        <div>@mailUserTaker.UserTakerInfo.Name @mailUserTaker.UserTakerInfo.Surname</div>}
                                    Tarih: @mailInfo.Date<br /><br />
                                    @Html.Raw(mailInfo.Message)
                                </div>
                            </div>

                            <div id="demo-mail-textarea-send" class="mail-message-reply bg-trans-dark">
                                <strong>Reply</strong> or <strong>Forward</strong> this message...
                            </div>
                            <div class="pad-btm">
                                <button id="btnSendMailMessageCompose" type="submit" name="submit" class="btn btn-primary btn-lg btn-block hide">
                                    <i class="demo-psi-mail-send icon-lg icon-fw" id="btnSendMail"></i>Send Message
                                </button>
                            </div>
                        </div>
                        <div class="modal fade" id="mdlSendMailMessageModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                                        <h4 class="modal-title">Silme Onaylama</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Silmek için emin misiniz ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                        <button class="btn btn-primary" type="button" name="@mailInfo.MailId" id="btnSendDeleteMailMessage" onclick="SendDeleteMailMessage()">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
